/* Page A propos */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-img {
  height: 15em;
  width: 85em;
  overflow: hidden;
}

.about-img::before {
  content: '';
  position: absolute;
  height: 15em;
  width: 85em;
  background-color: rgba(0, 0, 0, 0.4); /* Opacité à 40% */
  z-index: 1;
  border-radius: 20px;
}

.about-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}