/* Page Fiche Logement, Carrousel */

.housing-content {
  max-width: max-content;
  margin: 0 auto;
  
}

.house {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #FF6060;
}

.house-alo {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.house-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title-and-location {
  display: flex;
  flex-direction: column;
}

.host-info-and-ratings {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.host-info {
  display: flex;
  align-items: center;
  justify-content: end;
}

.host-name {
  font-weight: bold;
  font-size: 1rem;
  color: #ff6060;
  max-width: 50%;
}

.host-picture {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .housing-content {
    width: 23rem;
  }

  .house-alo {
    flex-direction: column;
    width: 23rem;
  }

  .host-info-and-ratings {
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
  }
  
  .dropdown-idk {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23rem;
  }

  h1 {
    font-size: 17px;
    max-width: 70%;
  }
}